
<br>
<br>

<div class="bar bar-header bar-calm">
  <h1 class="title"><img src="http://www.crime-week.com/img/LOGO.png" width='200px' height='45px' align='center'></h1>
</div>

	

<div class = "row">
   <div class = "col"><a href="#/app/badiKhabarein" class="button button-balanced" style="padding:10px;margin:10px;">बड़ी खबर</a></div>

   <div class = "col"><a href="#/app/tazaKhabarein" class="button button-energized" style="padding:10px;margin:10px;">तजा खबर</a></div>
</div>

<div class = "row">
   <div class = "col"><a href="#/app/rajya" class="button button-assertive" style="padding:10px;margin:10px;">राज्य खबर</a></div>

   <div class = "col"><a href="#/app/rashtriya" style="padding:10px;margin:10px;" class="button button-royal">राष्ट्रीय खबर</a></div>
</div>

<div class = "row">
   <div class = "col"><a href="#/app/cricket" style="padding:10px;margin:10px;" class="button button-dark">क्रिकेट खबर</a>
</div>
   <div class = "col">
   	<a href="#/app/manoranjan" style="padding:10px;margin:10px;" class="button button-balanced">मनोरन्जन खबर</a>
   </div>
</div>

<div class = "row">
   <div class = "col"><a href="#/app/duniya" style="padding:10px;margin:10px;" class="button button-energized">दुनिया खबर</a></div>
   <div class = "col"><a href="#/app/tech" style="padding:10px;margin:10px;" class="button button-assertive">तेक खबर</a></div>
</div>

<div class = "row">
   <div class = "col"><a href="#/app/kaarobar" style="padding:10px;margin:10px;" class="button button-royal">कारोबार खबर</a></div>
   <div class = "col"><a href="#/app/auto" style="padding:10px;margin:10px;" class="button button-dark">औतो खबरैन</a></div>
</div>

<div class = "row">
   <div class = "col"><a href="#/app/khel" style="padding:10px;margin:10px;" class="button button-balanced"> खेल खबर</a></div>
   <div class = "col"><a href="#/app/fashion" style="padding:10px;margin:10px;" class="button button-energized">फशैन खबर</a></div>
</div>

