

<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-calm">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>


    <ion-nav-view name="menuContent"></ion-nav-view>


  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
    
          <i class="icon icon ion-arrow-left-c"></i>

      <h1 class="title">Slide Left to Collapse</h1>
    
    </ion-header-bar>
    <ion-content>
      <ion-list>

        <ion-item menu-close ng-click="login()">
        <i class = "icon icon ion-key"></i>
          लोगिन
        

        </ion-item>

        <ion-item menu-close href="#/app/badiKhabarein">
        <i class = "icon icon ion-star"></i>
          बड़ी खबर
        </ion-item>

        <ion-item menu-close href="#/app/tazaKhabarein">
        <i class = "icon icon ion-fireball"></i>
          तजा खबर
        </ion-item>

        <ion-item menu-close href="#/app/rajya">
        <i class = "icon icon ion-clock"></i>
          राज्य खबर
        </ion-item>


        <ion-item menu-close href="#/app/rashtriya">
        <i class = "icon icon ion-flag"></i>
          राष्ट्रीय खबर
        </ion-item>

        <ion-item menu-close href="#/app/cricket">
        <i class = "icon icon ion-ios-tennisball"></i>
          क्रिकेट खबर
        </ion-item>

        <ion-item menu-close href="#/app/manoranjan">
        <i class = "icon icon ion-music-note"></i>
          मनोरन्जन खबर
        </ion-item>

        <ion-item menu-close href="#/app/duniya">
        <i class = "icon icon ion-earth"></i>
          दुनिया खबर
        </ion-item>

         <ion-item menu-close href="#/app/tech">
        <i class = "icon icon ion-university"></i>
          तेक खबर
        </ion-item>

        <ion-item menu-close href="#/app/kaarobar">
        <i class = "icon icon ion-arrow-graph-up-left"></i>
          कारोबार खबर
        </ion-item>
        

        <ion-item menu-close href="#/app/auto">
        <i class = "icon icon ion-model-s"></i>
          औतो खबरैन
        </ion-item>

        <ion-item menu-close href="#/app/khel">
        <i class = "icon icon ion-ios-football"></i>
          खेल खबर
        </ion-item>


        <ion-item menu-close href="#/app/zaraHatke">
        <i class = "icon icon ion-umbrella"></i>
          जरा हत्के खबर
        </ion-item>

        <ion-item menu-close href="#/app/fashion">
        <i class = "icon icon ion-bag"></i>
          फशैन खबर
        </ion-item>

        
        
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>


