<ion-view view-title="<img class='title-image' src='http://www.crime-week.com/img/LOGO.png' width='200px' height='45px' align='center' />">


<br><br>
<h3>राज्य खबर</h3>

<!-- <ion-tabs class = "tabs-icon-only">

   <ion-tab title = "BadiKhabar" icon-on = "ion-ios-filing" 
      icon-off = "ion-ios-filing-outline" href="/app/badiKhabarein"></ion-tab>

   <ion-tab title = "TazaKhabar" icon-on = "ion-ios-home" 
      icon-off = "ion-ios-home-outline" href="/app/tazaKhabarein"></ion-tab>

   <ion-tab title = "Rajya" icon-on = "ion-ios-star" 
      icon-off = "ion-ios-star-outline" href="/app/rajya"></ion-tab>

      <ion-tab title = "Rashtriya" icon-on = "ion-ios-flag" 
      icon-off = "ion-ios-flag-outline" href="/app/rashtriya"></ion-tab>

   <ion-tab title = "Cricket" icon-on = "ion-ios-tennisball" 
      icon-off = "ion-ios-tennisball-outline" href="/app/cricket"></ion-tab>

</ion-tabs> -->


  <ion-content class="has-header padding">
<br>
       <div align="right">
        <i class = "icon icon ion-ios-calendar-outline"></i>
       {{date}}
       </div>

<br>


    <ion-list>
      <img src="{{allRajyaNews[0].img}}" width="150px" height="100px">


      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="news in allRajyaNews" href="#/app/rajya/{{news.$id}}">
                <img ng-src="{{news.img}}">
      
        
        {{news.snippet}}

        <!-- {{news.detail}} -->
        <br>

        {{news.timestamp}}
             
        
           <i class="icon ion-chevron-right icon-accessory"></i>


      </ion-item>


    </ion-list>
  </ion-content>
</ion-view>
